@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("components/banner-color.css");
@import url("components/banner-white.css");
@import url("components/btn-blueshading.css");
@import url("components/btn-yellowshading.css");
@import url("components/container.css");
@import url("components/footer-yellowhover.css");
@import url("components/header-bluehover.css");
@import url("components/input-blue.css");
@import url("components/searchbox-whiteshading.css");
@import url("components/text-hyperlink.css");
@import url("components/box-blue.css");
@import url("components/box-grey.css");
@import url("components/title-blue.css");
@import url("components/typingbox-grey.css");
@import url("components/cards.css");
@import url("components/images-circle.css");
@import url("components/list-inline.css");
@import url("components/home-page.css");
@import url("components/generic-box.css");
@import url("components/sign-up.css");
@import url("components/btn-grey.css");
h1{
  font-family: 'Spartan', sans-serif;
  font-size: 25px;
}


h2,h3,h4{
  font-family: 'Roboto', sans-serif;
}

}
h3{
font-size: 30px;
margin: 10px  auto;
}

