.banner-color{
background-image: url(../../images/logo.jpeg);
position: absolute;
width: 1000px;
height: 118.28px;
background: linear-gradient(270deg, rgba(252, 228, 92, 0.6) 24.45%, rgba(91, 199, 215, 0.82) 67.04%);
display: flex;
justify-content: space-between;
flex-grow: 1;
flex-wrap: wrap;
padding-right: 10px;
}

.banner-color li{
  display: inline;
  list-style: none;
  padding: 10px;
}
.banner-color img{
  height: 108px;
  text-align: right;
  margin bottom: 10px;
  margin-left: 20px;
  margin-top: 7px;
}


/* banner-color */

position: absolute;
width: 1440px;
height: 118.28px;
left: 2px;
top: -0.26px;



/* Banner with color */

position: absolute;
width: 1440px;
height: 118.28px;
left: 2px;
top: -0.26px;



/* Group 46 */

position: absolute;
width: 1440px;
height: 118.28px;
left: 2px;
top: -0.26px;



/* background gradient */
position: absolute;
width: 1440px;
height: 118.28px;
left: 2px;
top: -0.26px;

background: linear-gradient(270d
eg, rgba(252, 228, 92, 0.6) 24.45%, rgba(91, 199, 215, 0.82) 67.04%);


/* header-bluehover */

position: absolute;
visibility: hidden;
width: 240.84px;
height: 36.47px;
left: 1081px;
top: 43.2px;



/* Log-in */

position: absolute;
visibility: hidden;
width: 199.86px;
height: 41.4px;
left: 1115.24px;
top: 41.13px;



/* Sign-up */

position: absolute;
visibility: hidden;
width: 210.86px;
height: 38.44px;
left: 1251.14px;
top: 41.13px;



/* Logo */

position: absolute;
visibility: hidden;
width: 277px;
height: 92.87px;
left: 58px;
top: 13.42px;



/* Account icon */

position: absolute;
visibility: hidden;
width: 69px;
height: 69.74px;
left: 1124px;
top: -70px;



/* Icon */

position: absolute;
left: 18.62%;
right: 18.62%;
top: 10.68%;
bottom: 10.68%;

background: #000000;


/* Better language, better chances */

position: absolute;
visibility: hidden;
width: 702px;
height: 40.43px;
left: 192px;
top: -60.9px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;

