.banner-color{
background-image: url(../../images/logo.jpeg);
width: 100%;
height: 118.28px;
background: linear-gradient(270deg, rgba(252, 228, 92, 0.6) 24.45%, rgba(91, 199, 215, 0.82) 67.04%);
display: flex;
justify-content: space-between;
flex-grow: 1;
flex-wrap: none;
padding-right: 10px;
}

.banner-color li{
  display: inline;
  list-style: none;
  padding: 10px;
}
.banner-color img{
  height: 108px;
  text-align: right;
  margin bottom: 10px;
  margin-left: 20px;
  margin-top: 7px;
}

background-size: cover
background-position: center
