.footer{
  background-image: url(../../images/background-pattern.png);
  text-align: center;
  width: 100%;
  position: relative;;
  margin-bottom: 20px;
  display: inline-flex;
  justify-content: space-around;
}

