.searchbox-whiteshading input {
border-color: #e8e8e8;
background-color: #e8e8e8;
padding: 5p`x;
border-radius: 6px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    width: 20%;
    height: 100%;
}
